body{
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}


.sidebar{

  position: fixed;
  width: 25%;
  top: 0;
  left: 0;
  bottom: 0;
  /* border: solid 1px #000000; */
  overflow-y: scroll;
  padding: 0 0 0 20px;
  border-radius: 10px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

iframe{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 65%;
  height: 100%;
  border: none;
  text-align: center;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #939799;
  display: inline-block;
  margin-bottom: 5px;
}
